lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #f3ce15;
  border-color: #f3ce15 transparent #f3ce15 transparent;
  animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #ffffff;
}

.sub-header {
  background-color: #149edc;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  color: #ffffff;
  width: 100%;
}

.weather-title {
  font-size: 40px;
  font-family: inherit;
  padding-right: 20px;
  font-weight: bold;
}

.weather-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: rgba(20, 157, 220, 0.4549019608);
  padding-top: 30px;
  padding-bottom: 30px;
}

.forecast-card {
  display: flex;
  justify-content: center;
  position: absolute;
  background-color: rgba(58, 51, 53, 0.8862745098);
}

.daily-forecast-card {
  background-color: rgba(58, 51, 53, 0.8862745098);
  padding: 20px;
  border-radius: 3px;
  width: 100%;
  min-width: 300px;
  margin: 20px;
  position: relative;
}
.daily-forecast-card .card-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.daily-forecast-card .card-top .space {
  width: 5px;
}
.daily-forecast-card .card-bottom {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 5px;
}
.daily-forecast-card .max-min-temp {
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.daily-forecast-card .max-min-temp .max-caption {
  font-size: small;
  text-transform: uppercase;
  font-weight: bolder;
}
.daily-forecast-card .max-min-temp .min-caption {
  font-size: small;
  text-transform: uppercase;
}
.daily-forecast-card .max-temp {
  font-weight: 700;
  font-size: medium;
}
.daily-forecast-card .min-temp {
  font-weight: 400;
}
.daily-forecast-card .card-description {
  margin: 3px 5px;
  text-transform: capitalize;
}
.daily-forecast-card .temp {
  margin: 0;
  height: 80px;
}
.daily-forecast-card .city {
  color: #333;
}
.daily-forecast-card .description {
  margin: 0;
  text-transform: capitalize;
  padding-left: 10px;
}

.footer-menu nav a {
  text-decoration: none;
  color: #fff;
}

.location-search {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.location-search button {
  height: 40px;
  width: 40px;
}
.location-search .search-input {
  border: none;
  outline: none;
  padding: 5px 10px;
  background-color: white;
  color: rgb(58, 58, 58);
  font-family: inherit;
  font-size: 20px;
  min-width: -moz-fit-content;
  min-width: fit-content;
  width: 500px;
  height: px;
}
.location-search .search-button {
  margin: 5px;
  border: none;
  height: 40px;
  width: 40px;
  outline: none;
  background-color: white;
}
.location-search .search-button:hover {
  transition: 0.2s ease-in-out;
  cursor: pointer;
  color: #149edc;
}

.geolocation-button {
  margin: 5px;
  border: none;
  height: 20px;
  width: 20px;
  outline: none;
  background-color: white;
}

.geolocation-button:hover {
  transition: 0.2s ease-in-out;
  cursor: pointer;
}/*# sourceMappingURL=App.css.map */